[submodule "src/opendr/perception/panoptic_segmentation/efficient_ps/algorithm/EfficientPS"]
	path = src/opendr/perception/panoptic_segmentation/efficient_ps/algorithm/EfficientPS
	url = https://github.com/DeepSceneSeg/EfficientPS.git
