<launch>

  <!-- start up empty world -->
  <arg name="gui" default="true"/>
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="paused" default="true"/>
  <!-- NOTE: throttled not implemented in gazebo_ros/empty_world.launch
  <arg name="throttled" default="false"/>
  -->
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->

  <arg name="KINECT1" default="$(optenv KINECT1 false)" />
  <arg name="KINECT2" default="$(optenv KINECT2 false)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="use_sim_time" value="true" />
    <!-- NOTE: throttled not implemented in gazebo_ros/empty_world.launch
    <arg name="throttled" value="$(arg throttled)" />
    -->
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- start pr2 robot -->
  <include file="$(find mobile_manipulation_rl_demo)/robots_world/pr2/pr2.launch">
    <arg name="KINECT1" value="$(arg KINECT1)" />
    <arg name="KINECT2" value="$(arg KINECT2)" />
  </include>

  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
      <param name="odom_frame_id" value="odom_combined"/>
  </node>

  <include file="$(find pr2_moveit_config)/launch/move_group.launch"/>
</launch>

