<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="small_office"/>  <!-- empty, small_office, ... (see ../worlds) -->
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="extra_gz_model_path" default=""/>
  <arg name="extra_gz_resource_path" default=""/>

<!--   <env name="GAZEBO_MODEL_PATH" value="$(arg extra_gz_model_path):$(find pal_gazebo_worlds)/../pal_gazebo_worlds_private/models:$(find pal_gazebo_worlds)/models:$(optenv GAZEBO_MODEL_PATH)"/> -->
<!--   <env name="GAZEBO_RESOURCE_PATH" value="$(arg extra_gz_resource_path):$(find pal_gazebo_worlds)/../pal_gazebo_worlds_private:$(find pal_gazebo_worlds):$(optenv GAZEBO_RESOURCE_PATH)"/> -->

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- world_name is relative to directories in GAZEBO_RESOURCE_PATH-->
    <arg name="world_name" value="$(arg world).world"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="recording" value="$(arg recording)"/>
  </include>
</launch>
