<?xml version="1.0"?>
<launch>
    <arg name="robot"      default="true" />
    <arg name="gui"        default="true" />
    <arg name="gravity"    default="true" />
    <arg name="debug"      default="false" />
    <arg name="paused"     default="true" />
    <arg name="gazebo_visualization" default="false" />
    <arg name="fast_physics" default="false" />
    <arg name="use_laser_odom" default="false" />
    <arg name="robot_pos"  default="-x 0 -y 0 -z 0 -Y 0" />
    <arg name="namespace" default="hsrb" />
    <arg name="personal_name" default="" />
    <arg name="robot_name" default="hsrb" />

    <arg unless="$(arg fast_physics)" name="world_suffix" value=""/>
    <arg     if="$(arg fast_physics)" name="world_suffix" value="_fast"/>
    <arg name="world_name" default="$(find tmc_gazebo_worlds)/worlds/empty$(arg world_suffix).world"/>
    <param name="/use_sim_time" value="true"/>

    <group>
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="world_name" value="$(arg world_name)"/>
      </include>
    </group>

    <include file="$(find modulation_rl)/gazebo_world/hsr/hsrb.xml">
        <arg name="robot_pos" value="$(arg robot_pos)" />
        <arg name="gazebo_visualization" value="$(arg gazebo_visualization)" />
        <arg name="use_laser_odom" value="$(arg use_laser_odom)" />
        <arg name="fast_physics" value="$(arg fast_physics)" />
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="personal_name" value="$(arg personal_name)" />
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <group>
      <include file="$(find hsrb_gazebo_bringup)/launch/include/hsrb_sensor.xml" >
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="personal_name" value="$(arg personal_name)" />
      </include>
    </group>

    <group ns="/$(arg personal_name)">
      <node name="talk_action_simulator" pkg="tmc_talk_action_simulator" type="talk_request_server"/>
    </group>
</launch>
