<?xml version="1.0"?>
<robot name="hsrb"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- common xacro -->
    <xacro:include filename="$(find hsrb_description)/urdf/common.xacro" />
    <xacro:include filename="$(find hsrb_description)/urdf/materials.urdf.xacro" />

    <!-- links and joints -->
    <xacro:include filename="$(find hsrb_description)/urdf/base_v2/base.urdf.xacro" />
    <xacro:include filename="$(find hsrb_description)/urdf/torso_v0/torso.urdf.xacro" />
    <xacro:include filename="$(find hsrb_description)/urdf/head_v2/head.urdf.xacro" />
    <xacro:include filename="$(find hsrb_description)/urdf/arm_v0/arm.urdf.xacro" />
    <xacro:include filename="$(find hsrb_description)/urdf/wrist_v0/wrist.urdf.xacro" />
    <xacro:include filename="$(find hsrb_description)/urdf/hand_v0/hand.urdf.xacro" />

    <xacro:arg name="personal_name" default=""/>

    <!-- constant -->
    <xacro:property name="personal_name" value="$(arg personal_name)"/>
    <xacro:property name="robot_name" value="hsrb"/>

    <!-- create robot -->
    <xacro:hsrb_base prefix="base" personal_name="${personal_name}" robot_namespace="${robot_name}" robot_name="${robot_name}"/>

    <xacro:hsrb_torso prefix="torso" parent="base_link" mimic_joint="arm_lift_joint">
        <origin xyz="0.0 0.0 0.752" rpy="0.0 0.0 0.0"/>
    </xacro:hsrb_torso>

    <xacro:hsrb_head prefix="head" parent="torso_lift_link">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:hsrb_head>

    <xacro:hsrb_arm prefix="arm" parent="base_link">
        <origin xyz="0.0 0.0 0.340" rpy="0.0 0.0 0.0"/>
    </xacro:hsrb_arm>

    <xacro:hsrb_wrist prefix="wrist" parent="arm_roll_link" robot_namespace="${robot_name}">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:hsrb_wrist>

    <xacro:hsrb_hand prefix="hand" parent="wrist_roll_link">
        <origin xyz="0.012 0.0 0.1405" rpy="0.0 0.0 ${pi}"/>
    </xacro:hsrb_hand>

    <gazebo>
        <plugin name="${robot_name}_ros_control" filename="lib${robot_name}_gazebo_ros_control.so">
            <robotNamespace>${personal_name}/${robot_name}</robotNamespace>
            <legacyModeNS>false</legacyModeNS>
        </plugin>

        <plugin name="${robot_name}_p3d_ground_truth" filename="libgazebo_ros_p3d.so">
            <robotNamespace>${personal_name}/${robot_name}</robotNamespace>
            <bodyName>base_footprint</bodyName>
            <topicName>odom_ground_truth</topicName>
            <frameName>map</frameName>
            <updateRate>30</updateRate>
        </plugin>
        <plugin filename="libgazebo_ros_moveit_planning_scene.so" name="gazebo_ros_moveit_planning_scene">
            <topicName>/my_planning_scene</topicName>
            <sceneName>mytask</sceneName>
            <robotName>${robot_name}</robotName>
            <updatePeriod>0.5</updatePeriod>
            <publishFrameId>odom</publishFrameId>
        </plugin>
    </gazebo>
</robot>
