<?xml version="1.0"?>
<launch>    
  <arg name="ns" default=""  doc="Namespace of the robot." />
	
	<group ns="$(arg ns)">
		<!-- send robot urdf to param server -->
		<include file="$(find ur_e_description)/launch/ur5e_upload.launch">
		  <arg name="limited" value="true"/>
		</include>

		<!-- push robot_description to factory and spawn robot in gazebo -->
		<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.0" respawn="false" output="screen" />

		<include file="$(find ur_e_gazebo)/launch/controller_utils.launch"/>

		<!-- start this controller -->
		<rosparam file="$(find ur_e_gazebo)/controller/arm_controller_ur5e.yaml" command="load"/>
		<node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

		<!-- load other controllers -->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
	</group>
</launch>
