<?xml version="1.0"?>
<launch>
  <arg name="auto-close" default="false" doc="Startup mode"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0.7853981  0 -3.1415926 panda_link8 dummy_link_camera" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_2" args="-0.02 0.07 0.03 1.57 1.57 0 dummy_link_camera camera_optical_frame" /> 
  <param name ="/use_sim_time" value="true"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />


  <!-- start Webots -->
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="world" value="$(find single_demo_grasping_demo)/worlds/franka_simulation.wbt"/>
  </include>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

    <!-- Webots controller -->
  <include file="$(find single_demo_grasping_demo)/launch/panda_controller.launch">
    <arg name="auto-close" value="$(arg auto-close)"/>
  </include>

</launch>
