<launch>
  <!-- send urdf to param server -->
  <arg name="personal_name" default="" />
  <arg name="robot_model" default="hsrb4s" />
  <arg name="visualization" default="true" />
  <arg name="implicit_damping" default="true" />

  <group ns="/$(arg personal_name)">
    <param name="tf_prefix" value="$(arg personal_name)" />
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder $(find modulation_rl)/gazebo_world/hsr/$(arg robot_model).urdf.xacro gazebo_visualization_enabled:=$(arg visualization) implicit_damping:=$(arg implicit_damping) personal_name:=$(arg personal_name)" />
    <param name="robot_collision_pair" textfile="$(find hsrb_description)/robots/collision_pair_hsrb.xml" />
  </group>
</launch>
