<launch>
  <arg name="multi" default=""/>
  <arg name="arm"  default="True"/>
  <arg name="wrist_model"  default="wrist-2017"/>
  <arg name="end_effector"  default="pal-hey5"/>
  <arg name="ft_sensor"  default="schunk-ft"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <arg name="no_safety_eps" default="False"/>
  <arg name="description_calibration_dir" value="$(optenv pal_eye_hand_calibration_tiago_calibration_path)"/>
  <arg name="extrinsic_calibration_dir" value="$(optenv pal_camera_calibration_extrinsics_calibration_path)"/>
  <!-- Robot description -->
  <param name="robot_description"
    command="rosrun xacro xacro --inorder
    '$(find mobile_manipulation_rl)/robots_world/tiago/tiago.urdf.xacro'
    arm:=$(arg arm)
    wrist_model:=$(arg wrist_model)
    end_effector:=$(arg end_effector)
    ft_sensor:=$(arg ft_sensor)
    laser_model:=$(arg laser_model)
    camera_model:=$(arg camera_model)
    no_safety_eps:=$(arg no_safety_eps)
    description_calibration_dir:=$(arg description_calibration_dir)
    extrinsic_calibration_dir:=$(arg extrinsic_calibration_dir)
    $(arg multi)" />
           <rosparam command="load" file="$(find tiago_description)/config/collision/collision_parameters.yaml" />
</launch>
